<div class="header">
    <a routerLink="" title="Home">HOME</a>
    <a routerLink="menu/hamburguesas" title="Hamburguesas">Hamburguesas</a>
    <a routerLink="menu/pizzas" title="Pizza">Pizzas</a>
    <a routerLink="menu/ensaladas" title="Ensaladas">Ensaladas</a>
    <a routerLink="menu/postres" title="Postres">Postres</a>
    <a routerLink="menu/bebidas" title="Bebidas">Bebidas</a>
    <a routerLink="pagar" title="Orden">
        <img src="../../../assets/img/shop-cart2.svg" alt="Orden">
        <p>Pagar</p>
    </a>
</div>