@use '../../../styles'

/*Globales*/
h1, p
    text-align: center
    margin: 1rem 0
    padding: 0
    color: styles.$oscuroClaro

/*Clases*/
.container-principal p
    font-size: 18px
.container-principal
    background-color: styles.$background
    padding: .5rem 0

.container
    background-color: white
    width: 80%
    margin: 0 auto
    border-radius: .5rem
    margin-bottom: 2rem

.grid
    display: grid
    grid-template-columns: repeat(1, 1fr)
    column-gap: 2rem
    padding: 1rem 2rem 0 2rem

@media (min-width: 768px)
    .grid
        grid-template-columns: repeat(2, 1fr)
@media (min-width: 1200px)
    .grid
        grid-template-columns: repeat(3, 1fr)

h1
    color: styles.$oscuro