<div class="container">
    <div *ngFor="let detail of platillo | async">
        <div class="card-image" style="background: url({{detail.imagen}}) center center;">
            <div class="texto-opaco">
                <h1 class="mayusculas">{{detail.nombre}}</h1>
            </div>
        </div>

        <div class="descripcion">
            <div class="descripcion__comida">
                <p class="center">
                    <span>Usamos los mejores ingredientes</span>
                </p>
                <p class="justificar">
                    {{detail.ingredientes}}
                    <br>
                    <span>({{detail.descripcion}})</span>
                </p>
            </div>
            <div class="descripcion__boton">
                <button class="btn" (click)="regresar()">Regresar</button>
            </div>
        </div>

        <div class="divisor"></div>

        <p class="center mayusculas">Más imagenes</p>
        <!-- <p class="center mayusculas error" *ngIf="moreImages | async">No hay más imagenes disponibles</p> -->

        <div class="grid-images">
            <div class="grid-images__container" *ngFor="let img of moreImages | async; let i = index">
                <img [src]="img.ruta" alt="Imagen {{i}}">
            </div>
        </div>
    </div>
</div>