/*Fuente*/
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

/*Paleta de colores*/
$principal: #cce1de
$principalOscuro: #dbf0ed

$secundario: #d6e1c7
$secundarioOscuro: #a5af96

$footer: #b9967d
$footerClaro: #dccabe
$header: #e4cfc0
$headerOscuro: #b9967d

$opciones: #e9e084
$opcionesOscuro: #e0d447

$opciones2: #FFFFFF
$opciones2Oscuro: #b1b0b0
$background: #E8EBEB

$oscuro: #191919
$oscuroClaro: #2b2b2b

/*Icon size*/
%icon-size
    width: 32px

/*Se reinicia el html*/
html
    font-size: 62.5%
body
    font-size: 16px
    font-family: $font
    margin: 0
    padding: 0
    box-sizing: border-box
    color: $oscuroClaro


/*Estilos reutilizables*/
.divisor
    background-color: $footerClaro
    margin: 1rem 2rem
    padding: .1rem  0